body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}
section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* ============ HEADER STYLES ============ */

.top-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  color: inherit;
}
.top-navigation {
  align-items: center;
  display: flex;
}

.top-logo {
  padding: 24px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  color: #4d5ae5;
  margin-right: 76px;
}
.accent {
  color: #2e2f42;
}

.menu {
  display: flex;
  gap: 40px;
}
.contacts-list-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.menu-link {
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item .menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-item .current {
  position: relative;
  color: #404bbf;
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
address {
  font-style: normal;
}

.contact-list-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list-link:hover,
.contact-list-link:focus {
  color: #404bbf;
}

/* ============ HERO STYLES ============ */
.page-hero {
  padding: 188px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.main-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto 48px;
  max-width: 496px;
}
.main-button {
  height: 56px;
  display: block;
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}
.icons-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  min-width: 264px;
  margin-bottom: 8px;
}

.skills-list {
  gap: 24px;
  display: flex;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  margin-bottom: 8px;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.skills-list-item {
  width: calc((100% - 72px) / 4);
}
.skills-list-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.skills-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*--------------TEAM----------------*/
.box-team {
  background-color: #f4f4fd;
}
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.main-header-team {
  margin-bottom: 72px;
  text-align: center;
  line-height: 1.11;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-social-links {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-links:hover,
.team-social-links:focus {
  background-color: #404bbf;
}
.social-links-list {
  display: flex;
  gap: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-position {
  padding: 32px 0;
}

.main-header-portfolio {
  margin-bottom: 72px;
}
.team-name {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-position {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}
.team-icons-list {
  width: 40px;
  height: 40px;
}

.team-links-icons {
  fill: #f4f4fd;
}
/*-----------PORTFOLIO------------*/

.main-header-portfolio {
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.box-portfolio-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-item {
  wid.portfolio-item:hover,
  .portfolio-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-box {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  color: #f4f4fd;
  padding: 40px 32px;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .overlay-text {
  transform: translateY(0%);
}
.portfolio-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*-----------FOOTER--------------------*/
.box-footer {
  display: flex;
  align-items: baseline;
  margin-right: 120px;
}
.page-footer {
  padding: 100px 0;
  background-color: #2e2f42;
  margin: 0 auto;
}
.logo-footer-box {
  margin-right: 120px;
}
.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
  line-height: 1.17;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  background-color: #2e2f42;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #2e2f42;
  max-width: 264px;
}
.accent-footer {
  color: #f4f4fd;
}
.footer-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-links {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-links:hover,
.footer-links:focus {
  background-color: #31d0aa;
}
.list-footer {
  gap: 16px;
}
.form-footer-box {
  margin-left: 80px;
}
.form-footer {
  display: flex;
  gap: 24px;
}
.text-footer-subscribe {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.email-footer {
  display: flex;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.email-footer::placeholder {
  color: #ffffff;
}
.footer-btn-message {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  width: 165px;
  height: 40px;
  color: #fff;
  fill: #fff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  min-width: 165px;
}
.footer-btn-message:hover,
.footer-btn-message:focus {
  background-color: #404bbf;
}
.footer-btn-icon {
  margin-left: 16px;
}
/*-------------modal overlay----*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  z-index: 999;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  position: absolute;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 16px;
  width: 408px;
  min-height: 584px;
  overflow: auto;
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  fill: #2e2f42;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  position: absolute;
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  line-height: 0;
  border-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 24px;
  right: 24px;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
  fill: #fff;
  border: none;
  background-color: #404bbf;
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
  font-weight: 500;
}
.review-form-label {
  line-height: 1.17;
  display: block;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-box-for-svg {
  position: relative;
}
.review-form-input {
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus {
  border-color: #4d5ae5;
  outline: transparent;
}
.review-form-box {
  position: relative;
  margin-bottom: 8px;
}
.review-form-box-comment {
  margin-bottom: 16px;
}
.review-form-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-form {
  line-height: 1.17;
  font-weight: 400;
  font-size: 12px;

  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 120px;
  resize: none;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-form .modal-box-for-svg {
  position: relative;
}
.textarea-form:focus {
  border-color: #4d5ae5;
  outline: transparent;
}
.textarea-form::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.review-form-checkbox {
  margin-bottom: 24px;
}
.review-form-own-checkbox {
  margin-right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  width: 16px;
  height: 16px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus + .review-form-icon {
  fill: #4d5ae5;
}
.review-form-checkbox-label {
  line-height: 1.17;
  font-size: 12px;

  letter-spacing: 0.04em;
  color: #8e8f99;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox-input:checked
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  border-color: #4d5ae5;
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.review-form-checkbox-input:focus
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  outline: 1px solid #4d5ae5;
}
.privacy-policy-link {
  line-height: 1.33333;
  text-decoration: underline;
  color: #4d5ae5;
}

.modal-send-btn {
  min-width: 169px;
  border-radius: 4px;
  padding: 16px 32px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  cursor: pointer;
  color: #fff;
  display: block;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: #404bbf;
}
