.hidden {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
address {
  font-style: normal;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

/*======COMMON======*/
.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1128px;
    padding: 0 15px;
  }
}

/*===========HEADER====*/
.top-header {
  border-bottom: 1px solid #e7e9fc;
}

.box-header {
  display: flex;
  align-items: center;
}

.menu,
.contact-list {
  display: none;
}

.top-logo {
  display: block;
  padding: 16px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  color: #4d5ae5;
}

.accent {
  color: #2e2f42;
}

.top-navigation {
  margin-right: auto;
}

.header-btn-burger {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.icon-burger {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .header-btn-burger {
    display: none;
  }
  .menu {
    display: flex;
    gap: 40px;
  }
  .contact-list {
    display: block;
    font-style: normal;
  }
  .contacts-list-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .top-navigation {
    display: flex;
    align-items: center;
  }
  .top-logo {
    margin-right: 120px;
    padding: 20px 0;
  }
  .menu-link {
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .current {
    position: relative;
    color: #404bbf;
  }
  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
  }
  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }
  .contact-list {
    display: block;
    font-style: normal;
  }
  .contacts-list-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contact-list-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-list-link:hover,
  .contact-list-link:focus {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .top-logo {
    margin-right: 76px;
  }
  .contacts-list-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .contact-list-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}

/*========HERO==========*/

.page-hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office/mobile-office-min.jpg);
  min-width: 320px;
  min-height: 432px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
@media screen and (min-resolution: 192dpi) {
  .page-hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office/mobile-office@2x-min.jpg);
  }
}

.main-title {
  margin: 0 auto;
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  padding-top: 72px;
  padding-bottom: 72px;
}
.main-button {
  height: 56px;
  display: block;
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 17px 32px;
  margin: 0 auto;
  min-width: 169px;
  border: none;
  border-radius: 4px;
}
.benefits {
  padding: 96px 0;
}
.skills-list {
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.icons-box {
  display: none;
}
.skills-list-item {
  margin-bottom: 72px;
}
.skills-list-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skills-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .page-hero {
    max-width: 768px;
    min-height: 436px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office/tablet-office-min.jpg);
  }

  .skills-list-title {
    text-align: left;
  }
  .main-button {
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .main-button:hover,
  .main-button:focus {
    background-color: #404bbf;
  }

  .skills-list {
    gap: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .skills-list-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .page-hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office/tablet-office@2x-min.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .page-hero {
    max-width: 1440px;
    min-height: 600px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office/desctop-office-min.jpg);
  }
  .icons-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    min-width: 264px;
    margin-bottom: 8px;
  }
  .skills-list-item {
    width: calc((100% - 72px) / 4);
  }
  .skills-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1;
  }
  .skills-list-text {
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .page-hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office/desctop-office@2x-min.jpg);
  }
}
/*=========TEAM=======*/
.team {
  padding: 96px 0;
  background-color: #f4f4fd;
}
.main-header-team {
  padding-bottom: 72px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.team-item {
  margin: 0 auto;
  border-radius: 0px 0px 4px 4px;
  width: 264px;
  height: 428px;
  background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-social-links {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-links-list {
  display: flex;
  gap: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-position {
  padding: 32px 0;
}
.team-name {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-position {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}
.team-icons-list {
  width: 40px;
  height: 40px;
}

.team-links-icons {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .main-header-team {
    line-height: 1.11;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .box-team {
    padding: 0 108px;
  }
  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
  }
  .team-item {
    width: calc((100% - 24px) / 2);
  }
  .team-social-links {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .team-social-links:hover,
  .team-social-links:focus {
    background-color: #404bbf;
  }
  .box-position {
    padding: 32px 0;
  }
}
@media screen and (min-width: 1158px) {
  .box-team {
    padding: 0;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }
}
/*============PORTFOLIO==============*/
.box-portfolio {
  margin: 96px 0;
}
.main-header-portfolio {
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.box-portfolio-text {
  padding: 0;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
.overlay-box {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  color: #f4f4fd;
  padding: 40px 32px;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .box-portfolio-text {
    padding: 32px 16px;
  }
  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item:hover,
  .portfolio-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
  .portfolio-item:hover .overlay-text {
    transform: translateY(0%);
  }
}
@media screen and (min-width: 1158px) {
  .box-portfolio {
    margin: 0 auto;
  }
  .box-portfolio-text {
    padding: 32px 16px;
  }
  .portfolio-list {
    row-gap: 48px;
    column-gap: 24px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}

/*=============FOOTER===========*/
.box-footer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.page-footer {
  padding: 96px 0;
  background-color: #2e2f42;
  margin: 0 auto;
}
.logo-footer-box {
  text-align: center;
}
.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
  line-height: 1.17;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  background-color: #2e2f42;
}
.accent-footer {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #2e2f42;
  max-width: 264px;
  text-align: left;
}
.footer-media {
  margin: auto;
  margin-top: 96px;
  margin-bottom: 96px;
}
.footer-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}
.list-footer {
  gap: 16px;
}
.text-footer-subscribe {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.email-footer {
  display: flex;
  border: 1px solid #fff;
  border-radius: 4px;
  height: 40px;
  min-width: 288px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-bottom: 16px;
}
.email-footer::placeholder {
  color: #ffffff;
}
.form-footer {
  display: flex;
  flex-direction: column;
}
.footer-btn-message {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  width: 165px;
  height: 40px;
  color: #fff;
  fill: #fff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;

  min-width: 165px;
  margin: 0 auto;
}
.footer-btn-icon {
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .box-footer {
    margin: 0 108px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .logo-footer-box {
    text-align: left;
  }
  .form-footer {
    flex-direction: row;
    gap: 24px;
  }
  .footer-media-text {
    text-align: left;
  }
  .footer-links {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-links:hover,
  .footer-links:focus {
    background-color: #31d0aa;
  }
  .footer-media {
    margin-top: 0;
    margin-bottom: 0;
  }
  .text-footer-subscribe {
    text-align: left;
  }
  .footer-btn-message {
    cursor: pointer;
  }
  .footer-btn-message:hover,
  .footer-btn-message:focus {
    background-color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .box-footer {
    flex-wrap: nowrap;
  }
  .logo-footer-box {
    margin-right: 120px;
  }
  .form-footer-box {
    margin-left: 80px;
  }
}
/*===========MODAL_OVERLAY============*/
.modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(46, 47, 66, 0.4);
  width: 288px;
  height: 623px;
  z-index: 999;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  position: absolute;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 16px;
  width: 288px;
  min-height: 584px;
  overflow: auto;
  padding-top: 72px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  fill: #2e2f42;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  position: absolute;
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  line-height: 0;
  border-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 24px;
  right: 24px;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
  font-weight: 500;
}
.review-form-label {
  line-height: 1.17;
  display: block;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-box-for-svg {
  position: relative;
}
.review-form-input {
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding-left: 38px;
}

.review-form-box {
  position: relative;
  margin-bottom: 8px;
}
.review-form-box-comment {
  margin-bottom: 16px;
}
.review-form-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
}
.textarea-form {
  line-height: 1.17;
  font-weight: 400;
  font-size: 12px;

  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 256px;
  height: 120px;
  resize: none;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
}
.textarea-form .modal-box-for-svg {
  position: relative;
}

.textarea-form::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.review-form-checkbox {
  margin-bottom: 24px;
}
.review-form-own-checkbox {
  margin-right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  width: 16px;
  height: 16px;
  fill: transparent;
}

.review-form-checkbox-label {
  line-height: 1.17;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox-input:checked
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  border-color: #4d5ae5;
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.privacy-policy-link {
  line-height: 1.33333;
  text-decoration: underline;
  color: #4d5ae5;
}

.modal-send-btn {
  min-width: 169px;
  border-radius: 4px;
  padding: 16px 32px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  cursor: pointer;
  color: #fff;
  display: block;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .modal-overlay {
    width: 100%;
    height: 100%;
  }
  .modal-content {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    width: 408px;
  }
  .close-btn:hover,
  .close-btn:focus {
    fill: #fff;
    border: none;
    background-color: #404bbf;
  }
  .icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .review-form-input {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .review-form-input:focus {
    border-color: #4d5ae5;
    outline: transparent;
  }
  .review-form-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .textarea-form {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 360px;
  }
  .textarea-form:focus {
    border-color: #4d5ae5;
    outline: transparent;
  }
  .review-form-own-checkbox {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .review-form-input:focus + .review-form-icon {
    fill: #4d5ae5;
  }
  .review-form-checkbox-input:focus
    + .review-form-checkbox-label
    .review-form-own-checkbox {
    outline: 1px solid #4d5ae5;
  }
  .modal-send-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-send-btn:hover,
  .modal-send-btn:focus {
    background-color: #404bbf;
  }
}
/*===========MOBILE_MENU=======*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
  color: #2e2f42;
  z-index: 9999;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  transform: translateX(0%);
}
.close-btn-mobile-menu {
  position: absolute;
  top: 24px;
  right: 24px;
  stroke-width: 1px;
  border: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  fill: #e7e9fc;
  line-height: 0;
  border-color: transparent;
}
.close-btn-mobile-menu-icon {
  fill: #2e2f42;
}
.mobile-menu-container {
  position: relative;
}
.mobile-nav-div {
  padding-top: 72px;
  margin-bottom: 168px;
}
.mobile-menu-item {
  padding-bottom: 40px;
}

.mobile-menu-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
}
.mobile-menu-link {
  color: #2e2f42;
}
.contact-mobile-menu {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-bottom: 48px;
}

.contact-item-mobile-menu {
  padding-bottom: 24px;
}
.mobile-menu-link.current {
  color: #404bbf;
}
.social-links-list-mobile {
  display: flex;
  gap: 40px;
}

.contact-link-mobile-menu.current {
  color: #2e2f42;
}
.contact-link-mobile-menu.accent {
  color: #404bbf;
}
