.hidden {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

/*======COMMON======*/
.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/*===========HEADER====*/
.top-header {
  border-bottom: 1px solid #e7e9fc;
}

.box-header {
  display: flex;
  align-items: center;
}

.menu,
.contact-list {
  display: none;
}

.top-logo {
  display: block;
  padding: 16px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  color: #4d5ae5;
}

.accent {
  color: #2e2f42;
}

.top-navigation {
  margin-right: auto;
}

.header-btn-burger {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.icon-burger {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .header-btn-burger {
    display: none;
  }
  .menu {
    display: flex;
    gap: 40px;
  }
  .contact-list {
    display: block;
    font-style: normal;
  }
  .contacts-list-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .top-navigation {
    display: flex;
    align-items: center;
  }
  .top-logo {
    margin-right: 120px;
    padding: 20px 0;
  }
  .menu-link {
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .current {
    position: relative;
    color: #404bbf;
  }
  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
  }
  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }
  .contact-list {
    display: block;
    font-style: normal;
  }
  .contacts-list-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contact-list-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-list-link:hover,
  .contact-list-link:focus {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .top-logo {
    margin-right: 76px;
  }
  .contacts-list-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .contact-list-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}

/*========HERO==========*/
.page-hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  min-width: 320px;
  min-height: 432px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.main-title {
  margin: 0 auto;
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  padding-top: 72px;
  padding-bottom: 72px;
}
.main-button {
  height: 56px;
  display: block;
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 17px 32px;
  margin: 0 auto;
  min-width: 169px;
  border: none;
  border-radius: 4px;
}
.benefits {
  padding: 96px 16px;
}
.skills-list {
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.icons-box {
  display: none;
}
.skills-list-item {
  margin-bottom: 72px;
}
.skills-list-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skills-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .page-hero {
    padding: 188px 0;
  }

  .main-title {
    font-size: 56px;
    line-height: 1.07;
  }
  .main-button {
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .main-button:hover,
  .main-button:focus {
    background-color: #404bbf;
  }

  .skills-list {
    gap: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .skills-list-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .icons-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    min-width: 264px;
    margin-bottom: 8px;
  }
  .skills-list-item {
    width: calc((100% - 72px) / 4);
  }
  .skills-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1;
    text-align: left;
  }
  .skills-list-text {
    font-weight: 400;
  }
}
/*=========TEAM=======*/
.team {
  padding: 96px 0;
  background-color: #f4f4fd;
}
.main-header-team {
  padding-bottom: 72px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.team-item {
  margin: 0 auto;
  border-radius: 0px 0px 4px 4px;
  width: 264px;
  height: 428px;
  background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-social-links {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-links-list {
  display: flex;
  gap: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-position {
  padding: 32px 0;
}
.team-name {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-position {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}
.team-icons-list {
  width: 40px;
  height: 40px;
}

.team-links-icons {
  fill: #f4f4fd;
}
